<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <link rel="stylesheet" href="main.css">
  
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Bookmark Saver</title>
  
</head>
<body>
  
<!--     Navigation             -->
  
  <header> 
    <h1>Marca</h1>
    
    <div class="search-container">
      <form>
        <input id="search" type="text" placeholder="Search tags..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter tags...'">
        <button id="submit" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button> 
      </form>
    </div>
    
     <i class="fa fa-bookmark site-options" aria-hidden="true"></i>
    
  </header>
  
<!--              Bookmarks            -->
  
  <div class="bookmarks">
    
    <div class="bookmark">
      <div class="top-bar">
        <h4>Bookmark Title</h4>
        <i class="fa fa-ellipsis-h bookmark-options" aria-hidden="true"></i>
      </div>
      <div class="thumbnail">
        <img src="thumbnail.png">
      </div>
    </div>
    
    <div class="bookmark">
      <div class="top-bar">
        <h4>Bookmark Title</h4>
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </div>
      <div class="thumbnail">
        <img src="thumbnail.png">
      </div>
    </div>
    
    <div class="bookmark">
      <div class="top-bar">
        <h4>Bookmark Title</h4>
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </div>
      <div class="thumbnail">
        <img src="thumbnail.png">
      </div>
    </div>
    
    <div class="bookmark">
      <div class="top-bar">
        <h4>Bookmark Title</h4>
        <i class="fa fa-ellipsis-h bookmark-options" aria-hidden="true"></i>
      </div>
      <div class="thumbnail">
        <img src="thumbnail.png">
      </div>
    </div>
    
  </div>
  
  
<script type="text/javascript" src="main.js">
  </script>   
  
</body>
</html>