<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link type="text/css" rel="stylesheet" href="css/main.css">

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <title>Bookmark Saver</title>

</head>
<body>

<!--     Navigation             -->

  <header>
    <h1>Marca</h1>

    <div class="search-container">
      <form>
        <button id="submit" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <input id="search" type="text" placeholder="Search tags..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter tags...'">
      </form>
      <button>
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>

    <i class="fa fa-ellipsis-h" id="options" aria-hidden="true"></i>
    <nav class="hidden">
      <a href="/new">Add Bookmark</a>
      <hr>
      <a href="/logout">Log Out</a>
    </nav>
  </header>

<!--              Bookmarks            -->

  <div class="bookmarks">

    <div class="bookmark">
      <div class="top-bar">
        <h4>Bookmark Title</h4>
        <i class="fa fa-bookmark" aria-hidden="true"></i>
      </div>
      <div class="thumbnail">
        <img src="img/thumbnail.png">
      </div>
    </div>

    <div class="bookmark">
      <div class="top-bar">
        <h4>Bookmark Title</h4>
        <i class="fa fa-bookmark" aria-hidden="true"></i>
      </div>
      <div class="thumbnail">
        <img src="img/thumbnail.png">
      </div>
    </div>

    <div class="bookmark">
      <div class="top-bar">
        <h4>Bookmark Title</h4>
        <i class="fa fa-bookmark" aria-hidden="true"></i>
      </div>
      <div class="thumbnail">
        <img src="img/thumbnail.png">
      </div>
    </div>

    <div class="bookmark">
      <div class="top-bar">
        <h4>Bookmark Title</h4>
        <i class="fa fa-bookmark" aria-hidden="true"></i>
      </div>
      <div class="thumbnail">
        <img src="img/thumbnail.png">
      </div>
    </div>
  </div>

  <script src="/js/nav.js"></script>

</body>
</html>
