<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link type="text/css" rel="stylesheet" href="css/main.css">

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <title>Bookmark Saver</title>

</head>
<body>

<!--         Navigation             -->

  <header>
    <img src="/img/iconmonstr-menu-7.svg" id="menu-button">

    <div class="search-container">
      <form>
        <button id="submit" type="submit">
          <img src="/img/iconmonstr-magnifier-2.svg">
        </button>
        <input id="search" type="text" placeholder="Search tags..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter tags...'">
      </form>
      <button>
        <img src="/img/iconmonstr-x-mark-4.svg">
      </button>
    </div>

    <img src="/img/iconmonstr-bookmark-21.svg" id="options-button">

    <nav class="hidden">
      <a href="/bookmarks/new">Add Bookmark</a>
      <hr>
      <a href="/logout">Log Out</a>
    </nav>
  </header>

  <!--         Menu           -->

  <div class="menu">
    <div class="menu-bar">
      <h2>Colors</h2>
      <img id="color-down-arrow" src="/img/iconmonstr-arrow-69.svg"/>
    </div>

    <div class="colors">
      <div>
        <a>Red</a> <div class="color" style="background-color: red;"></div>
      </div>
    </div>

    <div class="menu-bar">
      <h2>Tags</h2>
      <img id="tag-down-arrow" src="/img/iconmonstr-arrow-69.svg"/>
    </div>
    <div class="tags">
      <a>notes</a>
      <a>projects</a>
      <a>colors</a>
      <a>cats</a>
    </div>

  </div>

<!--             Bookmarks            -->

  <div class="bookmarks">

    <div class="bookmark">
      <div class="top-bar">
        <h4>Bookmark Title</h4>
        <img src="/img/iconmonstr-note-14.svg" class="note-button">
      </div>
      <div class="thumbnail">
        <img src="/img/thumbnail.png">
      </div>
    </div>

    <div class="bookmark">
      <div class="top-bar">
        <h4>Bookmark Title</h4>
        <img src="/img/iconmonstr-note-14.svg" class="note-button">
      </div>
      <div class="thumbnail">
        <img src="/img/thumbnail.png">
      </div>
    </div>

    <div class="bookmark">
      <div class="top-bar">
        <h4>Bookmark Title</h4>
        <img src="/img/iconmonstr-note-14.svg" class="note-button">
      </div>
      <div class="thumbnail">
        <img src="/img/thumbnail.png">
      </div>
    </div>

    <div class="bookmark">
      <div class="top-bar">
        <h4>Bookmark Title</h4>
        <img src="/img/iconmonstr-note-14.svg" class="note-button">
      </div>
      <div class="thumbnail">
        <img src="/img/thumbnail.png">
      </div>
    </div>
  </div>

<!--           Notes         -->

  <div class="note-container hidden">
    <div class="note">
      <div class="note-options">
        <h2>Site Name Note</h2>
        <a href=""><img src="/img/iconmonstr-pencil-7.svg" alt="Edit"></a>
      </div>
      <textarea>
      </textarea>
      <button id="save">Save</button>
    </div>
  </div>

  <script src="/js/nav.js"></script>

</body>
</html>
