<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link type="text/css" rel="stylesheet" href="/css/new.css">

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <title>Add Bookmark</title>

</head>
<body>

  <h2>Add New Bookmark</h2>

  <form action ="/login" method="POST">

    <div class="input-container">

    </div>

    <div class="input-container">
      <label for="title">Add Title</label>
      <input type="text" name="bookmark[title]" placeholder ="Bookmark Title">

      <label for="url">Link to Bookmark</label>
      <input type="url" name="bookmark[url]" placeholder ="https://">

      <label for="image">Upload Image</label>
      <input type="file" accept=".jpg, .jpeg, .png" name="bookmark[image]">

      <label for="tags">Add tags</label>
      <textarea name="bookmark[tags]">website, picture...</textarea>

      <input type="submit" value="Submit">
    </div>

  </form>

  <a href="/bookmarks">Go Back</a>

  <script src="/js/new.js"></script>

</body>
</html>
