<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link type="text/css" rel="stylesheet" href="css/login.css">

  <title>Register</title>

</head>
<body>

  <div class="login-container">
    <h2>Welcome to Marca</h2>
    <form action ="/register" method="POST">
      <div class="input-container">
        <img src="/img/iconmonstr-user-19.svg">
        <input class="form-control" type="text" name="username" placeholder ="username">
      </div>
        <div class="input-container">
          <img src="/img/iconmonstr-key-10.svg">
          <input class="form-control" type="password" name="password" placeholder ="password">
       </div>
        <input type="submit" value="Sign Up">
    </form>
    <p>Already have an account? <a href="/login">Log In</a></p>
  </div>

</body>
</html>
